@import '../../utils/colors';
@import '../../utils/sizes';
@import '../../utils/fonts';
@import '../../utils/resets';

.header {
  margin: 0 auto;
  max-width: 1366px;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onMobile {
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-template-areas:
    "nav nav"
    "menu menu";
  }

  @include onMobileXl {
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-template-areas:
    "nav nav"
    ". menu";
  }

  @include onTablet {
    padding: 24px 48px;
  }

  @include onDesktop {
    padding: 48px 100px;
  }
}


/*Menu*/
.header__menu {
  display: block;

  @include onMobile {
    &--open {
      grid-area: menu;
      display: block;
      background-color: $basic-white;
    }

    &--close {
      display: none;
    }
  }

  @include onMobileXl {
    &--open {
      grid-area: menu;
      display: block;
      background-color: $basic-white;
    }

    &--close {
      display: none;
    }
  }
}

.header__menu-items {

  @include reset-list;
  display: flex;

  @include onMobile {
    display: block;
  }

  @include onMobileXl {
    display: block;
  }
}

.header__menu-item {
  &:first-of-type {
    margin: 0;
  }

  @include onMobile {
    padding: 8px 0;
    text-align: center;
    border-top: 1px solid $border-light-gray;
  }

  @include onMobileXl {
    padding: 8px 0;
    text-align: center;
    border-top: 1px solid $border-light-gray;
  }

  @include onTablet {
    margin-left: 24px;
  }

  @include onDesktop {
    margin-left: 32px;
  }
}

.header__menu-link {
  cursor: pointer;
  font-family: $primary-font;
  font-weight: 500;
  color: $basic-black;
  font-style: normal;
  @include set-font(16, 19);

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 40%;
  }
}


/*Navigation*/
.header__nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;

  @include onMobile {
    padding: 16px;
  }

  @include onMobileXl {
    padding: 26px;
  }
}


/*Logo*/
.header__nav-logo {
  cursor: pointer;
  display: block;
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-size: 75px 17px;
  width: 75px;
  height: 17px;

  @include onTablet {
    display: flex;
    justify-content: center;
  }

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 40%;
  }
}


/*Action-buttons*/
.header__nav-actions {
  @include reset-list;
  display: flex;
  align-items: center;
}

.header__nav-action {
  &:first-of-type {
    margin-left: 0;
  }

  &--onMobile {
    display: none;
  }

  @include onMobile {
    margin-left: 24px;

    &--onMobile {
      display: block;
    }
  }

  @include onMobileXl {
    margin-left: 24px;

    &--onMobile {
      display: block;
    }
  }

  @include onTablet {
    margin-left: 24px;
  }

  @include onDesktop {
    margin-left: 32px;
  }
}

.header__nav-button {
  @include reset-button;

  display: block;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer;

  &--burger {
    display: none;

    @include onMobileXl {
      display: block;
      background-image: url("button-burger.svg");
    }

    @include onMobile {
      display: block;
      background-image: url("button-burger.svg");
    }
  }

  &--cross {
    display: none;

    @include onMobileXl {
      display: block;
      background-image: url("button-cross.svg");
    }

    @include onMobile {
      display: block;
      background-image: url("button-cross.svg");
    }
  }

  &--search {
    background-image: url("button-search.svg");
  }

  &--cart {
    background-image: url("button-card.svg");
  }

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 40%;
  }
}
