$basic-white: #ffffff;
$basic-gray: #727a82;
$basic-black: #151c22;

$background-gray: #f1f2f4;
$background-black: #151c22;

$background-img: #f1f2f4;

$radio-light-gray: #f1f2f4;
$radio-gray: #bfc3c8;
$radio-blue: #3b6392;

$border-light-gray: #f1f2f4;
$border-dark-gray: #bfc3c8;
